body {
    margin: 0;
    padding: 0;
    background-image: url(img/fondo.jpg);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.texto{
    font-family: fantasy; /* Cambia la tipografía */
    font-size: 50px; /* Tamaño del texto */
    font-weight: bold; /* Negrita */
    color: #939393; /* Color del texto */
    margin-top: 550px;
    text-align: center; /* Alineación */
}

.texto2{
    font-family: fantasy; /* Cambia la tipografía */
    font-size: 50px; /* Tamaño del texto */
    font-weight: bold; /* Negrita */
    color: #636363; /* Color del texto */
    margin-top: -100px;
    margin-left: 790px;

}


.iconos{
    height: 50px; 
    width: auto; 
    margin-left: 800px;
    margin-top: -50x;
    position: relative;
    top: -83px;
}



.textoSE{
    font-family: fantasy; /* Cambia la tipografía */
    font-size: 30px; /* Tamaño del texto */
    color: #8f8f8f; 
    text-align: center;
    margin-top: 500px;
}






.habilidades{
    font-family: fantasy; /* Cambia la tipografía */
    font-size: 30px; /* Tamaño del texto */
    color: #8f8f8f; 
    text-align: center;
    margin-top: 500px;
    letter-spacing: 1px;
}

.contenedor{
    position: relative;
    margin-top: -100px;
    left: 200px;
}

.contenedor2{
    position: relative;
    margin-top: -760px;
    left: 1200px;
}


.habilidadesR{
    width: 300px;
    height: auto;
    margin-top: 100px;
    align-items: center;
    position: relative;
    left: 888px;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 100px 60px;
    box-shadow: 0px 3px 40px #000;
}

.habilidadesC{
    width: 300px;
    height: auto;
    margin-top: -500px;
    align-items: center;
    position: relative;
    left: 390px;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 100px 60px;
    box-shadow: 0px 3px 40px #000;
}

.habilidadesC img{
     position: relative;
    left: -110px;
}
